<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Infinispace\Customer\Api\ActiveCustomerManagementInterface" type="Infinispace\Customer\Model\ActiveCustomerManagement"/>
</config>
