<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_save_before">
		<observer instance="Infinispace\Customer\Observer\Customer\CustomerSaveBefore" name="infinispace_customer_observer_customer_customer_save_before"/>
	</event>
	<event name="customer_register_success">
		<observer instance="Infinispace\Customer\Observer\Customer\CustomerRegisterSuccess" name="infinispace_customer_observer_customer_register_success"/>
	</event>
</config>
