<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="infinispace" sortOrder="999" translate="label">
			<label>Infinispace</label>
		</tab>
		<section id="mikrotik" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Mikrotik</label>
			<tab>infinispace</tab>
			<resource>Infinispace_Integration::config_infinispace_integration</resource>
			<group id="mikrotik_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Mikrotik Settings</label>
				<field id="ip_address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>IP Address Mikrotik</label>
					<comment/>
				</field>
				<field id="username" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Username</label>
					<comment/>
				</field>
				<field id="password" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Password</label>
					<comment/>
				</field>
			</group>
			<group id="magento_settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Magento Settings</label>
				<field id="access_token" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Infinispace Access Token</label>
					<comment/>
				</field>
				<field id="base_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Infinispace URL</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>